<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="brace_bottom_setup">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.17589030087335E-17 1.03045417545114E-17 0.019"
        rpy="0 0 0" />
      <mass
        value="1.8963887392447" />
      <inertia
        ixx="0.0101059689803061"
        ixy="1.90685080584033E-18"
        ixz="-6.34029288119875E-20"
        iyy="0.00655389649573701"
        iyz="-5.64870335510758E-20"
        izz="0.0162034679194649" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.000126971286069784 -0.00236062973202948 0.259969117112197"
        rpy="0 0 0" />
      <mass
        value="1.62139168956489" />
      <inertia
        ixx="0.0112589043716208"
        ixy="1.22686644800001E-06"
        ixz="-1.56562879426475E-05"
        iyy="0.0103412100505284"
        iyz="0.000469854144254477"
        izz="0.00435255322411596" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="fixed">
    <origin
      xyz="0 0 0.038"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="1.13952477056154E-05 6.09143124800533E-06 0.00799791992099375"
        rpy="0 0 0" />
      <mass
        value="0.018528458539416" />
      <inertia
        ixx="2.9679106723927E-06"
        ixy="4.26365651056579E-09"
        ixz="-3.46178296543167E-10"
        iyy="2.97135000142796E-06"
        iyz="-2.35062248079008E-09"
        izz="5.11653017614038E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="fixed">
    <origin
      xyz="0 0 0.545"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="-0.000292507404636348 9.74030345824454E-05 -0.00706520102356678"
        rpy="0 0 0" />
      <mass
        value="0.409264576522902" />
      <inertia
        ixx="0.000304875148040698"
        ixy="-3.623850675817E-07"
        ixz="1.06173227367852E-06"
        iyy="0.000593006271122189"
        iyz="2.41034106345345E-07"
        izz="0.00088533132540228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="fixed">
    <origin
      xyz="0 0 0.0377479999999999"
      rpy="0 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.00236057250981657 5.09511305789398E-19 0.0225004978759494"
        rpy="0 0 0" />
      <mass
        value="0.0776928177876513" />
      <inertia
        ixx="2.36774306604939E-05"
        ixy="1.32413052967503E-22"
        ixz="1.93767364005606E-06"
        iyy="0.000135064260028048"
        iyz="-1.17667202656832E-21"
        izz="0.000141357774715505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.333333333333333 1 0.105882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="fixed">
    <origin
      xyz="0 0 0.038"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.00201148207179446 6.58383512452877E-06 0.0179979199209937"
        rpy="0 0 0" />
      <mass
        value="0.018528458539416" />
      <inertia
        ixx="2.9679106723927E-06"
        ixy="4.26365651056573E-09"
        ixz="-3.46178296544206E-10"
        iyy="2.97135000142796E-06"
        iyz="-2.35062248079026E-09"
        izz="5.11653017614037E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="fixed">
    <origin
      xyz="-0.002 0 0.02425"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.0051937961165829 -5.3948481322692E-17 0.0670624813641597"
        rpy="0 0 0" />
      <mass
        value="0.37932636432982" />
      <inertia
        ixx="0.000596824625583178"
        ixy="-3.44849792633967E-20"
        ixz="-3.71814917148565E-05"
        iyy="0.00223182950008657"
        iyz="5.06027688566071E-20"
        izz="0.00182971861226784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="fixed">
    <origin
      xyz="0.00200008682408884 0 0.0100000000000001"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>