<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="brace_bottom_setup">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.32811224344781E-17 -2.26305583375858E-18 -0.00750000000000001"
        rpy="0 0 0" />
      <mass
        value="0.748574502333434" />
      <inertia
        ixx="0.0039131555885044"
        ixy="8.69565788303238E-19"
        ixz="-2.14990423688293E-20"
        iyy="0.00251102171301661"
        iyz="7.75481824303796E-26"
        izz="0.0063961057576835" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.000128353323571531 -0.00238845536144038 0.250640967674806"
        rpy="0 0 0" />
      <mass
        value="1.60283665795463" />
      <inertia
        ixx="0.0106048878277538"
        ixy="1.2268664479985E-06"
        ixz="-1.56562879426488E-05"
        iyy="0.00968719350666139"
        iyz="0.000469854144254435"
        izz="0.0043511036122714" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-4.27019231607707E-07 -1.29100748809015E-05 0.00799791795458193"
        rpy="0 0 0" />
      <mass
        value="0.0185284683375794" />
      <inertia
        ixx="2.96679863523228E-06"
        ixy="-3.62026433444906E-09"
        ixz="-1.86299904905773E-09"
        iyy="2.97246399438639E-06"
        iyz="1.4754486955856E-09"
        izz="5.11653182287067E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="fixed">
    <origin
      xyz="0 0 0.495"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="4.94407837356415E-18 6.81702703862102E-18 -0.0103472188199245"
        rpy="0 0 0" />
      <mass
        value="0.348002554128136" />
      <inertia
        ixx="0.000293020898929781"
        ixy="-8.26250235187476E-19"
        ixz="1.87094475157335E-19"
        iyy="0.000570185588009608"
        iyz="-1.29579877779623E-19"
        izz="0.000855864904699788" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="fixed">
    <origin
      xyz="0 0 0.0377480000000001"
      rpy="0 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.00236057250981658 -4.71614214748011E-18 0.0225004978759494"
        rpy="0 0 0" />
      <mass
        value="0.0776928177876513" />
      <inertia
        ixx="2.36774306604939E-05"
        ixy="-4.83036224568824E-21"
        ixz="-1.93767364005606E-06"
        iyy="0.000135064260028048"
        iyz="-1.30159072966913E-21"
        izz="0.000141357774715505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.333333333333333 1 0.105882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.00201101222548409 -5.77003744314437E-06 0.0179979199209937"
        rpy="0 0 0" />
      <mass
        value="0.018528458539416" />
      <inertia
        ixx="2.9679106723927E-06"
        ixy="4.26365651056564E-09"
        ixz="3.46178296544215E-10"
        iyy="2.97135000142796E-06"
        iyz="2.3506224807905E-09"
        izz="5.11653017614037E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="fixed">
    <origin
      xyz="0.00199999999999999 0 0.02425"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.00519379611658272 1.04558752860696E-16 0.0670624813641598"
        rpy="0 0 0" />
      <mass
        value="0.37932636432982" />
      <inertia
        ixx="0.000596824625583178"
        ixy="-3.54764380775621E-20"
        ixz="-3.71814917148566E-05"
        iyy="0.00223182950008657"
        iyz="7.69803102399321E-20"
        izz="0.00182971861226784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="fixed">
    <origin
      xyz="-0.00199961697777845 0 0.01"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>