<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="brace_bottom_setup">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.32811224344781E-17 -2.26305583375858E-18 -0.00750000000000001"
        rpy="0 0 0" />
      <mass
        value="0.748574502333434" />
      <inertia
        ixx="0.0039131555885044"
        ixy="8.69565788303238E-19"
        ixz="-2.14990423688294E-20"
        iyy="0.00251102171301661"
        iyz="7.75481824305294E-26"
        izz="0.0063961057576835" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.000128353323571574 -0.0023884553614406 0.250640967674806"
        rpy="0 0 0" />
      <mass
        value="1.60283665795463" />
      <inertia
        ixx="0.0106048878277537"
        ixy="1.22686644799828E-06"
        ixz="-1.56562879426479E-05"
        iyy="0.00968719350666137"
        iyz="0.00046985414425445"
        izz="0.00435110361227141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="1.13952477057465E-05 6.09143124800594E-06 0.00799791992099375"
        rpy="0 0 0" />
      <mass
        value="0.018528458539416" />
      <inertia
        ixx="2.9679106723927E-06"
        ixy="4.26365651056501E-09"
        ixz="-3.46178296544342E-10"
        iyy="2.97135000142796E-06"
        iyz="-2.35062248079136E-09"
        izz="5.11653017614038E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="fixed">
    <origin
      xyz="0 0 0.495"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="1.50642586207691E-16 -4.99938433106393E-17 -0.0103472188199242"
        rpy="0 0 0" />
      <mass
        value="0.348002554128136" />
      <inertia
        ixx="0.000293020898929781"
        ixy="-1.68869346144323E-19"
        ixz="1.93033238905653E-19"
        iyy="0.000570185588009608"
        iyz="-1.34702030028243E-19"
        izz="0.000855864904699788" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="fixed">
    <origin
      xyz="0 0 0.0377479999999998"
      rpy="0 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.00236057250981657 7.13191236482224E-19 0.0225004978759494"
        rpy="0 0 0" />
      <mass
        value="0.0776928177876513" />
      <inertia
        ixx="2.36774306604939E-05"
        ixy="8.88168749838488E-22"
        ixz="1.93767364005606E-06"
        iyy="0.000135064260028048"
        iyz="-1.01005140091783E-21"
        izz="0.000141357774715505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.333333333333333 1 0.105882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.00201148207179448 6.5838351245295E-06 0.0179979199209937"
        rpy="0 0 0" />
      <mass
        value="0.018528458539416" />
      <inertia
        ixx="2.9679106723927E-06"
        ixy="4.26365651056581E-09"
        ixz="-3.46178296544216E-10"
        iyy="2.97135000142796E-06"
        iyz="-2.35062248079013E-09"
        izz="5.11653017614037E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="fixed">
    <origin
      xyz="-0.002 0 0.02425"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.00519379611658294 -5.48586182245168E-17 0.0670624813641597"
        rpy="0 0 0" />
      <mass
        value="0.37932636432982" />
      <inertia
        ixx="0.000596824625583178"
        ixy="-3.4037551434468E-20"
        ixz="-3.71814917148565E-05"
        iyy="0.00223182950008657"
        iyz="5.10031846684591E-20"
        izz="0.00182971861226784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brace_bottom_setup/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="fixed">
    <origin
      xyz="0.00200008682408884 0 0.01"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>